<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Rating #<%= @rating.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/ratings" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/ratings/<%= @rating.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit rating
        </a>
      </div>

      <div class="col">
        <a href="/delete_rating/<%= @rating.id %>" class="btn btn-block btn-outline-secondary">
          Delete rating
        </a>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <% if @rating.user.present? %>
          <a href="/users/<%= @rating.user_id %>">
            <%= @rating.user.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>
        Wine
      </dt>
      <dd>
        <% if @rating.wine.present? %>
          <a href="/wines/<%= @rating.wine_id %>">
            <%= @rating.wine.name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Value
      </dt>
      <dd>
        <%= @rating.value %>
      </dd>

      <dt>
        Comment
      </dt>
      <dd>
        <%= @rating.comment %>
      </dd>

      <dt>
        Vintage
      </dt>
      <dd>
        <% if @rating.vintage.present? %>
          <a href="/vintages/<%= @rating.vintage_id %>">
            <%= @rating.vintage.year %>
          </a>
        <% end %>
      </dd>

      <dt>
        Size
      </dt>
      <dd>
        <% if @rating.size.present? %>
          <a href="/bottle_sizes/<%= @rating.size_id %>">
            <%= @rating.size.name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@rating.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@rating.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

