<% if @cellar.errors.any? %>
  <% @cellar.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit cellar #<%= @cellar.id %>
</h1>

<hr>

<form action="/update_cellar/<%= @cellar.id %>" method="post">


  <div class="form-group">
    <label for="wine_id">
      Wine
    </label>

    <%= select_tag(:wine_id, options_from_collection_for_select(Wine.all, :id, :name, @cellar.wine_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="transactions_id">
      Transactions
    </label>

    <%= select_tag(:transactions_id, options_from_collection_for_select(Transaction.all, :id, :name, @cellar.transactions_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="amount">
      Amount
    </label>

    <input type="text" id="amount" name="amount" class="form-control" value="<%= @cellar.amount %>">
  </div>

  <div class="form-group">
    <label for="vitage_id">
      Vitage
    </label>

    <%= select_tag(:vitage_id, options_from_collection_for_select(Vintage.all, :id, :year, @cellar.vitage_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="remark">
      Remark
    </label>

    <input type="text" id="remark" name="remark" class="form-control" value="<%= @cellar.remark %>">
  </div>

  <div class="form-group">
    <label for="size_id">
      Size
    </label>

    <%= select_tag(:size_id, options_from_collection_for_select(BottleSize.all, :id, :name, @cellar.size_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="trans_date">
      Trans date
    </label>

    <input type="text" id="trans_date" name="trans_date" class="form-control" value="<%= @cellar.trans_date %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update cellar
  </button>
</form>

<hr>

<a href="/cellars">
  Go back
</a>
