<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Cellar #<%= @cellar.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/cellars" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link cellar start -->
      <div class="col">
        <% if current_user == @cellar.user %>
          <a href="/cellars/<%= @cellar.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit cellar
          </a>
        <% end %>
      </div>
      <!-- Edit link cellar end -->

      <!-- Delete link cellar start -->
      <div class="col">
        <% if current_user == @cellar.user %>
          <a href="/delete_cellar/<%= @cellar.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete cellar
          </a>
        <% end %>
      </div>
      <!-- Delete link cellar end -->
    </div>

    <dl>
      <dt>
        User
      </dt>
      <!-- Display user_id start -->
      <dd>
        <% if @cellar.user.present? %>
          <a href="/users/<%= @cellar.user_id %>">
            <%= @cellar.user.email %>
          </a>
        <% end %>
      </dd>
      <!-- Display user_id end -->

      <dt>
        Wine
      </dt>
      <!-- Display wine_id start -->
      <dd>
        <% if @cellar.wine.present? %>
          <a href="/wines/<%= @cellar.wine_id %>">
            <%= @cellar.wine.name %>
          </a>
        <% end %>
      </dd>
      <!-- Display wine_id end -->

      <dt>
        Transactions
      </dt>
      <!-- Display transactions_id start -->
      <dd>
        <% if @cellar.transactions.present? %>
          <a href="/transactions/<%= @cellar.transactions_id %>">
            <%= @cellar.transactions.name %>
          </a>
        <% end %>
      </dd>
      <!-- Display transactions_id end -->

      <dt>
        Amount
      </dt>
      <!-- Display amount start -->
      <dd>
        <%= @cellar.amount %>
      </dd>
      <!-- Display amount end -->

      <dt>
        Vitage
      </dt>
      <!-- Display vitage_id start -->
      <dd>
        <% if @cellar.vitage.present? %>
          <a href="/vintages/<%= @cellar.vitage_id %>">
            <%= @cellar.vitage.year %>
          </a>
        <% end %>
      </dd>
      <!-- Display vitage_id end -->

      <dt>
        Remark
      </dt>
      <!-- Display remark start -->
      <dd>
        <%= @cellar.remark %>
      </dd>
      <!-- Display remark end -->

      <dt>
        Size
      </dt>
      <!-- Display size_id start -->
      <dd>
        <% if @cellar.size.present? %>
          <a href="/bottle_sizes/<%= @cellar.size_id %>">
            <%= @cellar.size.name %>
          </a>
        <% end %>
      </dd>
      <!-- Display size_id end -->

      <dt>
        Trans date
      </dt>
      <!-- Display trans_date start -->
      <dd>
        <%= @cellar.trans_date %>
      </dd>
      <!-- Display trans_date end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@cellar.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@cellar.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<!-- Show Page Customization end -->
