<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Cellar #<%= @cellar.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/cellars" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @cellar.user %>
          <a href="/cellars/<%= @cellar.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit cellar
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @cellar.user %>
          <a href="/delete_cellar/<%= @cellar.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete cellar
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <% if @cellar.user.present? %>
          <a href="/users/<%= @cellar.user_id %>">
            <%= @cellar.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Wine
      </dt>
      <dd>
        <% if @cellar.wine.present? %>
          <a href="/wines/<%= @cellar.wine_id %>">
            <%= @cellar.wine.name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Transactions
      </dt>
      <dd>
        <% if @cellar.transactions.present? %>
          <a href="/transactions/<%= @cellar.transactions_id %>">
            <%= @cellar.transactions.name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Amount
      </dt>
      <dd>
        <%= @cellar.amount %>
      </dd>

      <dt>
        Vitage
      </dt>
      <dd>
        <% if @cellar.vitage.present? %>
          <a href="/vintages/<%= @cellar.vitage_id %>">
            <%= @cellar.vitage.year %>
          </a>
        <% end %>
      </dd>

      <dt>
        Remark
      </dt>
      <dd>
        <%= @cellar.remark %>
      </dd>

      <dt>
        Size
      </dt>
      <dd>
        <% if @cellar.size.present? %>
          <a href="/bottle_sizes/<%= @cellar.size_id %>">
            <%= @cellar.size.name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Trans date
      </dt>
      <dd>
        <%= @cellar.trans_date %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@cellar.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@cellar.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

