<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Transaction #<%= @transaction.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/transactions" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/transactions/<%= @transaction.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit transaction
        </a>
      </div>

      <div class="col">
        <a href="/delete_transaction/<%= @transaction.id %>" class="btn btn-block btn-outline-secondary">
          Delete transaction
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @transaction.name %>
      </dd>

      <dt>
        Negative
      </dt>
      <dd>
        <%= @transaction.negative %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@transaction.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@transaction.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "transaction_templates/transaction_cellars" %>
  </div>
</div>
