<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Vintage #<%= @vintage.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/vintages" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/vintages/<%= @vintage.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit vintage
        </a>
      </div>

      <div class="col">
        <a href="/delete_vintage/<%= @vintage.id %>" class="btn btn-block btn-outline-secondary">
          Delete vintage
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Year
      </dt>
      <dd>
        <%= @vintage.year %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@vintage.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@vintage.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "vintage_templates/vintage_cellars" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "vintage_templates/vintage_ratings" %>
  </div>
</div>
